* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fefefe;
  color: #333;
}

.football-icon {
  width: 30px;
  filter: invert(99%) sepia(54%) saturate(67%) hue-rotate(239deg) brightness(113%) contrast(87%);
}

.texashs {
  font-family: 'Saira Stencil One', cursive;
  font-size: 40px;
  background-color: #00f7ff;
  background-image: -webkit-linear-gradient(315deg, #ffffff 0%, #239700fd 64%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

.blitz {
  font-family: 'Ceviche One', cursive;
  font-size: 45px;
  background-color: #ff0000;
  background-image: -webkit-linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #eee;
  text-align: center;
}

.hamburger-container {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}

.line {
  background-color: #fff;
  border-radius: 3px;
  display: block;
  width: 45px;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.line1 {
  transform: translateY(12px) rotate(135deg);
}

.line2 {
  transform: scale(0);
}

.line3 {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-items {
  list-style: none;
  width: 100%;
}

.nav-item {
  background: #888;
  border-bottom: 1px solid #333;
  flex: 0 1 90%;
  padding: 10px 0;
  cursor: pointer;
}

.none {
  display: none;
}

.block {
  display: block;
}

.search {
  border: 1px solid #aaa;
  padding: 10px;
  width: 100%;
  color: #888;
  outline: none;
  font-size: 16px;
  margin: 0 auto 40px auto;
  display: flex;
}
