* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #fefefe;
  color: #333;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #eee;
  text-align: center;
  position: relative;
  top: 0;
}

.hamburger-container {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}

.line {
  background-color: #fff;
  border-radius: 3px;
  display: block;
  width: 40px;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.line1 {
  transform: translateY(12px) rotate(135deg);
}

.line2 {
  transform: scale(0);
}

.line3 {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-items {
  list-style: none;
  width: 100%;
}

.logo-container {
  text-align: right;
  margin-right: 5%;
}

.football-icon {
  width: 30px;
  filter: invert(99%) sepia(54%) saturate(67%) hue-rotate(239deg) brightness(113%) contrast(87%);
  display: none;
}

.texashs {
  font-family: 'Saira Stencil One', cursive;
  font-size: 40px;
  background-color: #00f7ff;
  background-image: -webkit-linear-gradient(315deg, #ffffff 0%, #239700fd 64%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  height: 63px;
}

.blitz {
  font-family: 'Ceviche One', cursive;
  font-size: 45px;
  background-color: #ff0000;
  background-image: -webkit-linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.current {
  color: #333;
  background: #ccc;
}

.nav-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}

.none {
  display: none;
}

.block {
  display: block;
}

.search-container {
  position: relative;
}

.clear-search {
  position: absolute;
  top: 30%;
  right: 17%;
  cursor: pointer;
}

.search {
  border: 1px solid #aaa;
  border-radius: 40px;
  padding: 15px 10px;
  width: 75%;
  color: #888;
  outline: none;
  font-size: 16px;
  margin: 20px auto;
  display: flex;
}

.search:focus::-webkit-input-placeholder {
  color: transparent;
}

.class-div-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin: 5px 0;
  width: 120px;
}

.btn {
  border: 1px solid #333;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  margin: 5px 0;
  width: 50%;
}

.btn:hover {
  background: #333;
  color: #fefefe;
}

.div1-btn {
  margin: 0 2px;
}

.text-desc {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.total-number {
  font-size: 18px;
  color: red;
}

table {
  text-align: center;
  margin: 0 auto 30px auto;
  font-family: 'Teko', sans-serif;
  font-size: 26px;
  font-weight: 300;
  cursor: default;
  border: 5px solid #797979;
  padding: 5px;
  width: 95%;
}

th {
  background: #eee;
}

tr:nth-child(2n + 1) {
  background: #ccc;
}

.table-header {
  background: #333;
  color: #eee;
}

.black-border {
  border: 1px solid #333;
}

.school {
  width: 220px;
}

.mascot {
  width: 110px;
}

.class-all {
  width: 100px;
}

.years {
  padding: 10px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  background: #333;
  height: 60px;
}

.footer p {
  color: #eee;
  font-size: 14px;
}

.back-to-top {
  position: fixed;
  bottom: 10%;
  right: 5%;
  background: #efefef;
  color: #333;
  padding: 5px 15px;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 740px) {
  .navbar {
    background: #333;
    color: #eee;
  }

  .hamburger-container {
    display: none;
  }

  .logo-container {
    text-align: left;
    margin-left: 5%;
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
  }

  .football-icon {
    display: inline-block;
    width: 28px;
  }

  .texashs {
    font-size: 35px;
  }

  .blitz {
    font-size: 40px;
  }

  .nav-item {
    display: block;
    background: none;
    border-bottom: none;
    padding: 10px 5px;
    border-radius: 5px;
  }

  .nav-item:hover {
    background: #ccc;
    color: #333;
  }

  .current {
    background: #aaa;
    color: #333;
  }

  .search {
    margin: 30px auto;
  }

  .class-div-select {
    flex-direction: row;
    margin-bottom: 30px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .btn {
    width: auto;
  }

  .text-desc {
    height: 10px;
  }

  table {
    width: 70%;
    border: 10px solid #797979;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
  }

  .school {
    width: 350px;
  }

  .mascot {
    width: 200px;
  }

  .change {
    margin: 40px 0;
  }
}
