* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: sans-serif;
  background: #fefefe;
  color: #333;
}

.logo {
  font-family: 'Saira Stencil One', cursive;
  font-size: 40px;
  background-color: #00f7ff;
  background-image: -webkit-linear-gradient(315deg, #ffffff 0%, #239700fd 64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.football-icon {
  width: 30px;
  filter: invert(99%) sepia(54%) saturate(67%) hue-rotate(239deg) brightness(113%) contrast(87%);
}

.blitz {
  font-family: 'Ceviche One', cursive;
  font-size: 45px;
  background-color: #ff0000;
  background-image: -webkit-linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  margin-bottom: 40px;
}

.nav-items {
  display: flex;
  list-style: none;
  line-height: 40px;
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
  padding: 5px 60px;
  border-radius: 5px;
  color: #eee;
  border-bottom: 1px solid #777;
}

.nav-item:hover {
  color: #eee;
}

.search {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: none;
  border-right: none;
  /* border-radius: 5px; */
  padding: 10px;
  width: 300px;
  color: #888;
  outline: none;
  font-size: 16px;
  margin: 0 auto 40px auto;
  display: flex;
}

.search:focus::-webkit-input-placeholder {
  color: transparent;
}

table {
  text-align: center;
  margin: 0 auto 30px auto;
  font-family: 'Teko', sans-serif;
  font-size: 26px;
  font-weight: 300;
  cursor: default;
  border: 10px solid #797979;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

th {
  font-weight: 600;
}

td {
  width: 160px;
  font-size: 26px;
}

.school {
  width: 220px;
}

.num {
  width: 120px;
}

.years {
  width: 300px;
  padding: 10px 20px;
}

.table-header {
  background: #333;
  color: #eee;
}

.current {
  color: #fc6c6c;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  background: #333;
  height: 60px;
}

.footer p {
  color: #eee;
  font-size: 14px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .navbar {
    flex-direction: column;
  }

  .nav-items {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin-right: 0;
    display: none;
  }

  .football-icon {
    display: none;
  }

  .logo {
    text-align: right;
    margin-left: 80px;
  }

  .nav-icon {
    position: absolute;
    cursor: pointer;
    top: -5px;
    left: -5px;
    margin: 1em;
    width: 40px;
  }

  .line1,
  .line2,
  .line3 {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }

  /* .nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }

  .nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .nav-icon:hover div {
    transform: scale(0);
  } */

  .district {
    display: none;
  }

  table {
    padding: 5px;
    margin: 0 5px 20px 5px;
    border-width: 5px;
    box-shadow: none;
  }
}
